<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Stomatology.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Stomatology.Properties.Settings.StomatologyDataConnectionString"
        connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\StomatologyData.mdf;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <Stomatology.Properties.Settings>
      <setting name="TeamViewerDirection" serializeAs="String">
        <value />
      </setting>
      <setting name="DateBaseDirection" serializeAs="String">
        <value />
      </setting>
    </Stomatology.Properties.Settings>
  </userSettings>
</configuration>