<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Stomatology.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Stomatology.Properties.Settings.StomatologyDataConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\StomatologyData.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Stomatology.Properties.Settings.DentistryConnectionString" connectionString="Data Source=insopdentistry.cywgv3xkqj2b.eu-west-3.rds.amazonaws.com;Initial Catalog=Dentistry;Persist Security Info=True;User ID=iKela;Password=6621Nazar" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <Stomatology.Properties.Settings>
      <setting name="TeamViewerDirection" serializeAs="String">
        <value />
      </setting>
      <setting name="DateBaseDirection" serializeAs="String">
        <value />
      </setting>
      <setting name="WordFileDirection" serializeAs="String">
        <value />
      </setting>
      <setting name="NewMedCardFile" serializeAs="String">
        <value />
      </setting>
      <setting name="Name" serializeAs="String">
        <value />
      </setting>
      <setting name="ExistMedCardFile" serializeAs="String">
        <value />
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>0</value>
      </setting>
    </Stomatology.Properties.Settings>
  </userSettings>
  <system.windows.forms jitDebugging="true" />
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>